<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Process Leave Application</title>
<th:block th:include="layout/Header"></th:block>
<th:block th:include="layout/SideBar"></th:block>
</head>
<body>
<div class="main">
	<h2>Leave Application Details</h2>
	<form th:object="${leave}" method="post">
		<table class="table">
		    <tr>
		    	<th>Type</th>
		    	<td th:text="*{leaveType}"></td>
		    </tr>
		    <tr>
		    	<th>Start Date</th>
		    	<td th:field="*{startDate}" th:value="*{startDate}" th:text="*{startDate}"></td>
		    </tr>
		    <tr>
		    	<th>End Date</th>
		    	<td th:field="*{endDate}" th:text="*{endDate}"></td>
		    </tr>
		    <tr>
		    	<th>Number of Days</th>
		    	<td th:field="*{numOfDays}" th:text="*{numOfDays}"></td>
		    </tr>
		    <tr>
		    	<th>Reason</th>
		    	<td th:text=" *{reason} ?: '-'"></td>
		    </tr>
		    <tr>
		    	<th>Work Dissemination</th>
		    	<td th:text=" *{workDissemination} ?: '-'"></td>
		    </tr>
		    <tr>
		    	<th>Contact Details</th>
		    	<td th:text=" *{contactDetails} ?: '-'"></td>
		    </tr>
		    <tr>
		    	<th>Status</th>
		    	<td th:field="*{leaveStatus}" th:text="*{leaveStatus}"></td>
		    </tr>
		    <tr>
		    	<th>Manager's Comments</th>
		    	<td><textarea th:field="*{managerComments}" rows="2" cols="30"></textarea></td>
		    </tr>
	    </table>
	    <input type="submit" th:formaction="@{/approve}" value="Approve"/>
		&ensp;&ensp;
		<input type="submit" th:formaction="@{/reject}" value="Reject"/>
		<input type="hidden" th:field="*{id}"/>
    </form>
</div>
</body>
</html>